<%
var title = show.title,
    scripts = [
        "/bower_components/jquery/dist/jquery.min.js",
        "/bower_components/d3js/build/d3.v3.min.js",
        "/js/main.js"
    ];
%><% include _head %>

    <header>
        <h1><%= show.title %></h1>
        <%
            var details = [];
            if (show.network) { details.push(show.network); }
            if (show.year > 1969) { details.push(show.year); }
        %>
        <h2><%= details.join(", ") %></h2>
    </header>

    <div class="actions">
        <a href="/" title="Home" class="action-button">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a href="/<%- show.slug %>/reload" title="Reload series information" class="action-button reload">
            <i class="fa fa-refresh"></i>
        </a>
    </div>

    <div class="ratings-graph"></div>
    <div class="graph-controls">
        <div class="control-section">
            <div class="control-item">
                <input type="radio" name="data-source" value="imdb" id="data-source-imdb"/>
                <label for="data-source-imdb">IMDb</label>
            </div>
            <div class="control-item">
                <input type="radio" name="data-source" value="trakt" id="data-source-trakt"/>
                <label for="data-source-trakt">Trakt.tv</label>
            </div>
        </div>
        <span class="separator"></span>
        <div class="control-section">
            <div class="control-item">
                <input type="radio" name="line-type" value="rating" id="line-type-rating"/>
                <label for="line-type-rating">Rating</label>
            </div>
            <div class="control-item">
                <input type="radio" name="line-type" value="trend" id="line-type-trend"/>
                <label for="line-type-trend">Trend</label>
            </div>
            <div class="control-item">
                <input type="radio" name="line-type" value="mean" id="line-type-mean"/>
                <label for="line-type-mean">Mean</label>
            </div>
        </div>
    </div>

    <script>
        var data = <%- JSON.stringify(data) %>,
            title = <%- JSON.stringify(show.slug) %>;
    </script>
    <script>
        var graph = new remmon.Graph(".ratings-graph", {
            width: $(".ratings-graph").innerWidth(),
            height: 400,
            minEpisodeWidth: 10,
            source: remmon.get("data-source", "imdb"),
            type: remmon.get("line-type", "rating")
        }, data);

        graph.draw("initial");

        // Only redraw if the window hasn't resized for 100 milliseconds
        var resizeDraw = remmon.debounce(function () {
            graph.draw("resize");
        }, 100);

        $(window).on("resize", function () {
            if (graph.resize($(".ratings-graph").innerWidth())) {
                // Only redraw if the window resize caused the graph to resize as well
                graph.draw("resize"); // resizeDraw();
            }
        });

        $(".graph-controls input[name=data-source][value=" + graph.getSource() + "]").prop("checked", true);
        $(".graph-controls input[name=line-type][value=" + graph.getType() + "]").prop("checked", true);

        $(".graph-controls input[name=data-source]").change(function () {
            remmon.set("data-source", $(this).val());
            graph.setSource($(this).val());
            graph.draw("source-change");
        });

        $(".graph-controls input[name=line-type]").change(function () {
            remmon.set("line-type", $(this).val());
            graph.setType($(this).val());
            graph.draw("type-change");
        });

        $(".reload").on("click", function (e) {
            e.preventDefault();

            var $icon = $(this).find("i").first();
            $icon.addClass("fa-spin");

            remmon.reloadShow(title, function (success) {
                $icon.removeClass("fa-spin");

                if (success) {
                    location.reload();
                }
            });
        });
    </script>

<% include _foot %>
